@tailwind base;
@tailwind components;
@tailwind utilities;


.bg_login_img {
    background-image: url("../public/images/image1.jpg");
    height:100%;
}

.bg_hp_img {
    background-image: url("../public/images/image5.webp");
    background-position: center center;
    height:100%;
}
.bg_1{
  background-image: url("../public/images/image1.jpg");
  opacity: 0.9;
  background-position: center;
  height:100%;
}
.bg_2{
  background-image: url("../public/images/image4.webp");
  background-position: center;
}

.fancy {
    --b: 6px;
    --w: 80px;  
    --g: 15px;  
    --c: #000000;
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000    calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
  }
  


